.sectionCatalogoUno, .sectionCatalogoDos, .sectionCatalogoTres, .sectionCatalogoCuatro, .sectionCatalogoCinco, .sectionCatalogoSeis {
  background-color: black; }

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

/*INDEX*/
/*propiedades del padre*/
.contenedor {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 1.5fr 2fr 0.8fr;
  /*estructurar areas*/
  grid-template-areas: "header header header" "main main main" "section section2 section3"   "footer footer footer"; }

/*propiedades de las area*/
header {
  grid-area: header;
  background-color: #2e2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.imgLogo {
  width: 120px;
  padding-left: 20px; }

.navegador ul {
  list-style: none; }
  .navegador ul li {
    display: inline-block;
    padding: 40px;
    font-size: 15px; }
    .navegador ul li a {
      text-decoration: none;
      color: white;
      transition: all 0.3s ease 0s; }
      .navegador ul li a:hover {
        color: #CE0000; }

.section1 {
  display: flex;
  grid-area: section;
  background-color: black;
  justify-content: center; }
  .section1 img {
    width: 300px; }

main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black; }

.mainIndex .tituloIndex {
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding: 10px;
  border: 1px solid #CE0000;
  border-radius: 15px;
  text-align: center;
  margin: 50px; }
  .mainIndex .tituloIndex span {
    display: inline-block; }

.mainCatalogo h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding: 10px;
  border: 1px solid #CE0000;
  border-radius: 15px;
  text-align: center;
  margin: 50px; }

.tituloPromos {
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding: 10px;
  border: 1px solid #CE0000;
  border-radius: 15px;
  text-align: center;
  margin: 50px; }

.section2 {
  display: flex;
  grid-area: section2;
  background-color: black;
  justify-content: center; }
  .section2 img {
    width: 300px; }

.section3 {
  display: flex;
  grid-area: section3;
  background-color: black;
  justify-content: center; }
  .section3 img {
    width: 300px; }

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black; }
  footer .contenidoFooter {
    font-size: 20px;
    color: white; }

/*catalogo*/
.contenedorCatalogo {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 1.5fr 2fr 2fr 2fr 0.8fr;
  /*estructurar areas*/
  grid-template-areas: "header header header" "main main main" "section1 section4 section4"  "section2 section5 section5" "section3 section6 section6"   "footer footer footer"; }

.mainCatalogo {
  grid-area: main; }

.sectionCatalogoUno {
  grid-area: section1;
  display: flex;
  justify-content: start;
  align-items: center; }
  .sectionCatalogoUno img {
    width: 200px; }

.sectionCatalogoDos {
  grid-area: section2;
  display: flex;
  justify-content: start;
  align-items: center; }
  .sectionCatalogoDos img {
    width: 200px; }

.sectionCatalogoTres {
  grid-area: section3;
  display: flex;
  justify-content: start;
  align-items: center; }
  .sectionCatalogoTres img {
    width: 200px; }

.sectionCatalogoCuatro {
  grid-area: section4;
  display: flex;
  align-items: center;
  justify-content: center; }
  .sectionCatalogoCuatro img {
    width: 200px; }

.sectionCatalogoCinco {
  grid-area: section5;
  display: flex;
  align-items: center;
  justify-content: center; }
  .sectionCatalogoCinco img {
    width: 200px; }

.sectionCatalogoSeis {
  grid-area: section6;
  display: flex;
  align-items: center;
  justify-content: center; }
  .sectionCatalogoSeis img {
    width: 200px; }

.parrafoCatalogo {
  color: white;
  font-size: 20px; }

/* contacto */
.contenedorContacto {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 7.5fr 0.8fr;
  /*estructurar areas*/
  grid-template-areas: "header header header" "mainCo mainCo mainCo"   "footer footer footer"; }

.mainContacto {
  grid-area: mainCo;
  background-color: #000000; }
  .mainContacto form {
    background-color: #2e2e2e;
    color: white;
    padding: 40px;
    border: 2px solid #CE0000;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 5px 5px 50px #CE0000;
    margin: auto; }
    .mainContacto form legend {
      text-align: center;
      font-size: 35px; }
    .mainContacto form .divForm {
      padding: 10px;
      font-size: 15px;
      text-align: center; }
    .mainContacto form input {
      border: 1px solid #CE0000;
      border-radius: 5px;
      font-size: 15px; }
    .mainContacto form .submit {
      margin-top: 25px;
      text-align: center; }
      .mainContacto form .submit .inputSubmit {
        padding: 5px 15px 5px 15px;
        border: #000000;
        background-color: #CE0000;
        color: white; }

footer {
  grid-area: footer; }

/*nav bootstrap*/
.row {
  --bs-gutter-x: 0rem; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.navbar-nav .nav-item {
  display: inline-block;
  padding: 40px;
  font-size: 15px; }
  .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s; }
    .navbar-nav .nav-item .nav-link:hover {
      color: #CE0000;
      text-shadow: 0px 0px 10px #CE0000, 0px 0px 20px #CE0000, 0px 0px 40px #CE0000; }

.navbar-light .navbar-brand {
  color: white; }

.navbar-light .navbar-toggler {
  border-radius: 5px;
  border-color: #000000;
  background-color: #CE0000; }

.imgLogo {
  width: 120px;
  padding-left: 20px; }

/*NOSOTROS*/
.contenedorNosotros {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 7.5fr 0.8fr;
  /*estructurar areas*/
  grid-template-areas: "header header header" "mainNo mainNo mainNo"   "footer footer footer"; }

.mainNosotros {
  grid-area: mainNo;
  display: flex;
  flex-direction: column; }
  .mainNosotros .tituloNosotros {
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: 1px solid #CE0000;
    border-radius: 15px;
    text-align: center;
    margin: 50px;
    background-color: #000000; }
  .mainNosotros .parrafoNosotros {
    text-align: center;
    color: white;
    font-size: 25px;
    margin: 20px;
    padding: 20px;
    letter-spacing: 5px;
    background-color: #2e2e2e;
    border-radius: 20px;
    box-shadow: 8px 8px 90px #CE0000;
    text-transform: uppercase; }

/* promociones */
.card {
  border-radius: 50px; }
  .card:hover {
    transform: scale(1.1); }

.row .card {
  margin: 25px; }
  .row .card .card-body .card-title {
    font-size: 20px;
    color: white; }
  .row .card .card-body .card-text {
    color: white; }
  .row .card .card-body .btn-primary {
    background-color: #000000;
    border-color: #CE0000; }

/* MEDIA QUERIES */
/*TABLETS*/
@media only screen and (max-width: 1024px) {
  /*INDEX*/
  .contenedor {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 1.5fr 2fr 2fr 2fr 0.8fr;
    grid-template-areas: "header header header" "main main main" "section section section"  "section2 section2 section2" "section3 section3 section3"   "footer footer footer"; }
  .navegador ul li {
    display: inline-block;
    padding: 25px;
    font-size: 15px; }
  .mainIndex .tituloIndex {
    font-size: 35px; }
  .section1 img, .section2 img, .section3 img {
    width: 200px; }
  /*CATALOGO*/
  .sectionCatalogoUno img, .sectionCatalogoDos img, .sectionCatalogoTres img, .sectionCatalogoCuatro img, .sectionCatalogoCinco img, .sectionCatalogoSeis img {
    width: 150px; }
  .parrafoCatalogo {
    font-size: 10px; }
  /*NOSOTROS*/
  .mainNosotros .parrafoNosotros {
    text-align: center;
    color: white;
    font-size: 14px;
    margin: 10px;
    padding: 20px;
    letter-spacing: 5px;
    background-color: #2e2e2e;
    border-radius: 20px;
    box-shadow: 8px 8px 90px #CE0000;
    text-transform: uppercase; } }

@media only screen and (max-width: 600px) {
  /*INDEX*/
  .imgLogo {
    width: 100px; }
  header {
    justify-content: center; }
  .navegador ul li {
    display: inline-block;
    padding: 5px;
    font-size: 12px; }
  .mainIndex .tituloIndex {
    font-size: 20px; }
  .section1 img, .section2 img, .section3 img {
    width: 100px; }
  .contenidoFooter {
    font-size: 10px; }
  /*CATALOGO*/
  .sectionCatalogoUno img, .sectionCatalogoDos img, .sectionCatalogoTres img, .sectionCatalogoCuatro img, .sectionCatalogoCinco img, .sectionCatalogoSeis img {
    width: 100px; }
  .parrafoCatalogo {
    font-size: 8px; }
  /*NOSOTROS*/
  .mainNosotros .parrafoNosotros {
    text-align: center;
    color: white;
    font-size: 14px;
    margin: 10px;
    padding: 20px;
    letter-spacing: 5px;
    background-color: #2e2e2e;
    border-radius: 20px;
    box-shadow: 7px 7px 80px #CE0000;
    text-transform: uppercase; } }

@media only screen and (max-width: 480px) {
  /*INDEX*/
  .imgLogo {
    width: 100px; }
  .mainIndex .tituloIndex {
    font-size: 10px; }
  footer .contenidoFooter {
    font-size: 10px; }
  /*CATALOGO*/
  .sectionCatalogoUno img, .sectionCatalogoDos img, .sectionCatalogoTres img, .sectionCatalogoCuatro img, .sectionCatalogoCinco img, .sectionCatalogoSeis img {
    width: 100px; }
  .parrafoCatalogo {
    font-size: 10px; }
  /*PROMOCIONES*/
  .tituloPromos {
    font-size: 40px; }
  /*NOSOTROS*/
  .mainNosotros .parrafoNosotros {
    text-align: center;
    color: white;
    font-size: 14px;
    margin: 10px;
    padding: 20px;
    letter-spacing: 5px;
    background-color: #2e2e2e;
    border-radius: 20px;
    box-shadow: 4px 4px 50px #CE0000;
    text-transform: uppercase; } }
