*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*propiedades del padre*/
.contenedor{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 1.5fr 2fr 0.8fr;

    /*estructurar areas*/
    grid-template-areas: "header header header"
                        "main main main"
                        "section section2 section3"  
                        "footer footer footer";
}

/*propiedades de las area*/
header{
    grid-area: header;
    background-color: #2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a img{
    width: 150px;
    padding-left: 20px;
}

.navegador ul{
    list-style: none;
}

.navegador ul li{
    display: inline-block;
    padding: 50px;
    font-size: 20px;
    
}

.navegador ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s; 
}

.navegador ul li a:hover{
    color: #CE0000;
}

.section1{
    display: flex;
    grid-area: section;
    background-color: black;
    justify-content: center;
}

.section1 img{
    width: 400px;
}

main{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    
}

.mainIndex  pre, .mainCatalogo pre {
    font-size: 50px;
    color: white;
    padding: 10px;
    border: 2px solid red;
    border-radius: 15px;
    
}

.section2{
    display: flex;
    grid-area: section2;
    background-color: black;
    justify-content: center;
}

.section2 img{
    width: 400px;
}
   
.section3{
    display: flex;
    grid-area: section3;
    background-color: black;
    justify-content: center;
}

.section3 img{
    width: 400px;
}
   
footer{
    grid-area: footer;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.contenidoFooter{
    font-size: 20px;
    color: white;
}

/* media queries*/

@media only screen and (max-width: 1024px){
    .contenedor{
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.2fr 1.5fr 2fr 2fr 2fr 0.8fr;
        grid-template-areas: "header header header"
        "main main main"
        "section section section" 
        "section2 section2 section2"
        "section3 section3 section3"  
        "footer footer footer"; 
    }
    
    .navegador ul li{
        display: inline-block;
        padding: 25px;
        font-size: 15px; 
    }

    .mainIndex pre{
        font-size: 35px;
    }

    .section1 img{
        width: 200px;
    }
    .section2 img{
        width: 200px;
    }
    .section3 img{
        width: 200px;
    }    

}

@media only screen and (max-width: 600px){
    .logo a img{
        width: 100px;
    }
    header{
        justify-content: center;
    }
    .navegador ul li{
        display: inline-block;
        padding: 5px;
        font-size: 12px;
        
    }
    .mainIndex  pre{
        font-size: 20px;
    }
}

/*catalogo*/

.contenedorCatalogo{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 1.5fr 2fr 2fr 2fr 0.8fr;

    /*estructurar areas*/
    grid-template-areas: "header header header"
                        "main main main"
                        "section1 section1 section1" 
                        "section2 section2 section2"
                        "section3 section3 section3"  
                        "footer footer footer";
}

.mainCatalogo{
    grid-area: main;
}

.sectionCatalogoUno{
    grid-area: section1;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(0, 0, 0);
} 
.sectionCatalogoUno img{
    width: 200px;
}  
.sectionCatalogoDos{
    grid-area: section2;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.sectionCatalogoDos img{
    width: 200px;
}
.sectionCatalogoTres{
    grid-area: section3;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.sectionCatalogoTres img{
    width: 200px;
}

.parrafoCatalogo{
    color: white;
}
