//variables
@import "utilities/variables";
@import "utilities/mixins";


/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*INDEX*/

/*propiedades del padre*/
.contenedor{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1.5fr 2fr 0.8fr;

    /*estructurar areas*/
    grid-template-areas: "header header header"
                        "main main main"
                        "section section2 section3"  
                        "footer footer footer";
}

/*propiedades de las area*/
header{
    grid-area: header;
    background-color: #2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgLogo{
    width: 120px;
    padding-left: 20px;
}

.navegador{
    ul{
        list-style: none;
        li{
            display: inline-block;
            padding: 40px;
            font-size: 15px;
            a{
                text-decoration: none;
                color: white;
                transition: all 0.3s ease 0s;
                &:hover{
                    color: $color-principal;
                }
            }
        }
    }
}

.section1{
    display: flex;
    grid-area: section;
    background-color: black;
    justify-content: center;
    img{
        width: $med-img + 100;
    }
}

main{
    grid-area: main;
    @include flex;
    background-color: rgb(0, 0, 0);
    
}

.mainIndex{
    .tituloIndex{
        @include titulos;
    }
}

.mainCatalogo{
    h1{
        @include titulos;
    }
}

.tituloPromos{
    @include titulos;
}


.section2{
    display: flex;
    grid-area: section2;
    background-color: black;
    justify-content: center;
    img{
        width: 300px;
    }
}

.section3{
    display: flex;
    grid-area: section3;
    background-color: black;
    justify-content: center;
    img{
        width: $med-img + 100;
    }
}

footer{
    grid-area: footer;
    @include flex;
    background-color: black;
    .contenidoFooter{
        font-size: 20px;
        color: white;
    }
}

/*catalogo*/

.contenedorCatalogo{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 1.5fr 2fr 2fr 2fr 0.8fr;

    /*estructurar areas*/
    grid-template-areas: "header header header"
                        "main main main"
                        "section1 section4 section4" 
                        "section2 section5 section5"
                        "section3 section6 section6"  
                        "footer footer footer";
}

.mainCatalogo{
    grid-area: main;
}

.sectionCatalogoUno{
    grid-area: section1;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(0, 0, 0);
    img{
        width: $med-img;
    }
}

.sectionCatalogoDos{
    grid-area: section2;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(0, 0, 0);
    img{
        width: $med-img;
    }
}

.sectionCatalogoTres{
    grid-area: section3;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(0, 0, 0);
    img{
        width: $med-img;
    }
}

.sectionCatalogoCuatro{
    grid-area: section4;
    @include flex;
    background-color: rgb(0, 0, 0);
    img{
        width: $med-img;
    }
}

.sectionCatalogoCinco{
    grid-area: section5;
    @include flex;
    background-color: rgb(0, 0, 0);
    img{
        width: $med-img;
    }
}

.sectionCatalogoSeis{
    grid-area: section6;
    @include flex;
    background-color: rgb(0, 0, 0);
    img{
        width: $med-img;
    }
}

.parrafoCatalogo{
    color: white;
    font-size: 20px;
}

/* contacto */

.contenedorContacto{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 7.5fr 0.8fr;

    /*estructurar areas*/
    grid-template-areas: "header header header"
                         "mainCo mainCo mainCo"  
                         "footer footer footer";
}

.mainContacto{
    grid-area: mainCo;
    background-color: #000000;
    form{
        background-color: #2e2e2e;
        color: white;
        padding: 40px;
        border: 2px solid $color-principal;
        border-radius: 20px;
        font-size: 20px;
        legend{
            text-align: center;
            font-size: 35px;
        }
        .divForm{
            padding: 10px;
            font-size: 15px;
            text-align: center; 
        }
        input{
            border: 1px solid $color-principal;
            border-radius: 5px;
            font-size: 15px;
        }
        .submit{
            margin-top: 25px;
            text-align: center;
            .inputSubmit{
                padding: 5px 15px 5px 15px;
                border: #000000;
                background-color: $color-principal;
                color: white;
            }
        }
    }
}

footer{
    grid-area: footer;
}

/*nav bootstrap*/
.row{
    --bs-gutter-x: 0rem;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav{
    .nav-item{
        display: inline-block;
        padding: 40px;
        font-size: 15px;
        .nav-link{
            text-decoration: none;
            color: white;
            transition: all 0.3s ease 0s;
            &:hover{
                color: $color-principal;
            }
        }
    }
}

.navbar-light{
    .navbar-brand{
        color: white;
    }
    .navbar-toggler{
        
        border-radius: 5px;
        border-color: #000000;
        background-color: $color-principal;
    }
}

.imgLogo{
    width: 120px;
    padding-left: 20px;
}

/*NOSOTROS*/

.contenedorNosotros{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 7.5fr 0.8fr;

    /*estructurar areas*/
    grid-template-areas: "header header header"
                         "mainNo mainNo mainNo"  
                         "footer footer footer";
}
.mainNosotros{
    grid-area: mainNo;
    display: flex;
    flex-direction: column;
    
    .tituloNosotros{
        @include titulos;
        background-color: #000000;
    }
    .parrafoNosotros{
        text-align: center;
        color: white;
        font-size: 25px;
        margin: 20px;
        padding: 20px;
        background-color: #2e2e2e;
        border-radius: 20px;
        box-shadow: 0px 0px 5px red;
        text-transform: uppercase;
    }

}

/* promociones */

.card{
    border-radius: 50px;
    &:hover{
        transform: scale(1.1);
    }
}

.row{
    .card{
        margin: 25px;
        .card-body{
            .card-title{
                font-size: 20px;
                color: white;
            }
            .card-text{
                color: white;
            }
            .btn-primary{
                background-color: #000000;
                border-color: $color-principal;
            }
        }
    
    }
}


/* MEDIA QUERIES */

/*TABLETS*/

@media only screen and (max-width: 1024px){
    /*INDEX*/
    .contenedor{
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.2fr 1.5fr 2fr 2fr 2fr 0.8fr;
        grid-template-areas: "header header header"
        "main main main"
        "section section section" 
        "section2 section2 section2"
        "section3 section3 section3"  
        "footer footer footer"; 
    }
    .navegador{
        ul{
            li{
                display: inline-block;
                padding: 25px;
                font-size: 15px; 
            }
        }
    }
    .mainIndex{
        .tituloIndex{
            font-size: 35px;
        }
    }
    .section1 img, .section2 img, .section3 img{
        width: $med-img;
    }
    
    /*CATALOGO*/

    .sectionCatalogoUno img, .sectionCatalogoDos img, .sectionCatalogoTres img, .sectionCatalogoCuatro img, .sectionCatalogoCinco img, .sectionCatalogoSeis img{
        width: $med-img - 50;
    }
    .parrafoCatalogo{
        font-size: 10px;
    }

    /*NOSOTROS*/

    .mainNosotros{
        .parrafoNosotros{
            text-align: center;
            color: white;
            font-size: 14px;
            margin: 10px;
            padding: 20px;
            letter-spacing: 5px;
            background-color: #2e2e2e;
            border-radius: 20px;
            box-shadow: 0px 0px 5px red;
            text-transform: uppercase;
        }
    }
}

@media only screen and (max-width: 600px){
    /*INDEX*/
    .imgLogo{
        width: $med-img - 100;
    }
    header{
        justify-content: center;
    }
    .navegador{
        ul{
            li{
                display: inline-block;
                padding: 5px;
                font-size: 12px;
            }
        }
    }
    .mainIndex{
       .tituloIndex{
           font-size: 20px;
       }
    }
    .section1 img, .section2 img, .section3 img{
        width: $med-img - 100;
    }
    .contenidoFooter{
        font-size: 10px;
    }

    /*CATALOGO*/

    .sectionCatalogoUno img, .sectionCatalogoDos img, .sectionCatalogoTres img, .sectionCatalogoCuatro img, .sectionCatalogoCinco img, .sectionCatalogoSeis img{
        width: $med-img - 100;
    }
    .parrafoCatalogo{
        font-size: 8px;
    }

    /*NOSOTROS*/

    .mainNosotros{
        .parrafoNosotros{
            text-align: center;
            color: white;
            font-size: 14px;
            margin: 10px;
            padding: 20px;
            letter-spacing: 5px;
            background-color: #2e2e2e;
            border-radius: 20px;
            box-shadow: 0px 0px 5px red;
            text-transform: uppercase;
        }
    }

}

@media only screen and (max-width: 480px){
    /*INDEX*/
    .imgLogo{
        width: 100px
    }
    .mainIndex{
        .tituloIndex{
            font-size: 10px;
        }
    }
    footer{
        .contenidoFooter{
            font-size: 10px;
        }
    }
    

    /*CATALOGO*/
    .sectionCatalogoUno img, .sectionCatalogoDos img, .sectionCatalogoTres img, .sectionCatalogoCuatro img, .sectionCatalogoCinco img, .sectionCatalogoSeis img{
        width: $med-img - 100;
    }
    .parrafoCatalogo{
        font-size: 10px;
    }

    /*PROMOCIONES*/
    .tituloPromos{
        font-size: 40px;
    }

    /*NOSOTROS*/
    .mainNosotros{
        .parrafoNosotros{
            text-align: center;
            color: white;
            font-size: 14px;
            margin: 10px;
            padding: 20px;
            letter-spacing: 5px;
            background-color: #2e2e2e;
            border-radius: 20px;
            box-shadow: 0px 0px 5px red;
            text-transform: uppercase;
        }
    }
    
}


